.App {
  display: flex;
}

.widgets {
  margin: 2rem;
  height: 400px;
  width: 400px;
  border: 1px solid red;
}

.page {
  margin: 2rem;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
}














